
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/CSS/style.css">
    <title>SalesTrackerPro</title>
</head>
<body>
    <div></div>
    <aside class="flex flex-row items-start bg-black">
        <div> 
            <div class= "text-3xl font-bold justify-center text-white p-6"> Sales Tracker </div>
        </div>
        <div class="flex flex-col p-7"> 
            <a href="/dashboard" class="text-lg flex flex-row font-sans justify-start text-white">
                <img src="/assets/icons/home.svg" class="h-6 mr-3" alt="Home Logo" />
                <span>Dashboard </span>
            </a>
            <a href="/employee" class="text-lg flex flex-row font-sans justify-start text-white">
                <img src="/assets/icons/contact.svg" class="h-6 mr-3" alt="Employee Logo" />
                <span>Employee </span>
            </a>
            <a href="/sales" class="text-lg flex flex-row font-sans justify-start text-white ">
                <img src="/assets/icons/boton-circular-plus.png" class=" h-6 mr-3" alt="Home Logo" />
                <span>Sales History </span>
            </a>
            <a href="/products" class="text-lg flex flex-row font-sans justify-start text-white">
                <img src="/assets/icons/home.svg" class=" h-6 mr-3" alt="Home Logo" />
                <span>Products </span>
            </a>
        </div>
        {{#if loggedIn}} 
        <div> 
            <button class="text-lg font-bold flex justify-end text-white p-6" id="logout"> Log Out </button>
        </div>
        {{else}}
        <div> 
            <a href="/login"><button class="text-lg font-bold flex justify-end text-white p-6"> Log In </button></a>
        </div>
        {{/if}}
    </aside>
    <main>
        {{{body}}}
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="./js/index.js"></script>
</body>

</html>