<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Dashboard</title>
</head>
<body>
    <div class="flex flex-row p-8"> 
        <div class="px-8">
            <div class="text-lg font-medium text-black"> Month </div> 
            <div class="text-3xl font-bold text-black"> June </div> 
        </div>
        <div class="px-8">  
            <div class="text-lg font-medium text-black"> Nº of Sales </div>
            <div class="text-3xl font-bold text-black"> 16 </div>
        </div>
        <div class="px-8"> 
            <div class="text-lg font-medium text-black"> Commissions earned </div>
            <div class="text-3xl font-bold text-black"> $200.00 </div>
        </div>
    </div>  
        <div class="flex flex-row p-8"> 
            <div class="px-6">
                <div class="text-3xl font-bold text-black p-4"> New Sale </div>  
                <div class="bg-amber-600 w-64 h-96 shadow-xl rounded-xl">
                    <div class="pl-4" >
                        <label for="product_name" class="block mb-1 text-lg font-bold text-gray-900 dark:text-white pt-3 tp-2">Product</label>
                        <!-- Pending: define id of product -->
                        <input type="text" id="product" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-11/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Pink Oyster Mushroom" required>
                    </div>
                    <div class="pl-4" >
                        <label for="quantity" class="block mb-2 text-lg font-bold text-gray-900 dark:text-white pt-3 ">Quantity</label>
                        <!-- Pending: define id of Quantity -->
                        <input type="text" id="quantity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-11/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="5" required>
                    </div>
                    <div class="pl-4" >
                        <label for="date" class="block mb-2 text-lg font-bold text-gray-900 dark:text-white pt-3">Date</label>
                        <!-- Pending: define id of Date -->
                        <input type="text" id="date_order" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-11/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="21-06-2022" required>
                    </div>
                    <div class="pl-4" >
                        <label for="client" class="block mb-2 text-lg font-bold text-gray-900 dark:text-white pt-3 ">Client</label>
                        <!-- Pending: define id of Client name -->
                        <input type="text" id="client_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-11/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Restaurante Hueso" required>
                    </div>
                </div>
            </div>
            <div>
                <div class="text-3xl font-bold text-black p-4">Sales History </div>
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="text-xs text-gray-700 uppercase bg-gray-50 dark:ng-gray-700 dark:text-gray-400">
                        <thead >
                            <tr>
                                <th scope="col" class="px-6 py-3">ID</th>
                                <th scope="col" class="px-6 py-3">Product</th>
                                <th scope="col" class="px-6 py-3">Qty</th>
                                <th scope="col" class="px-6 py-3">Date</th>
                                <th scope="col" class="px-6 py-3">Amount</th>
                            </tr>
                        </thead>
                        <tbody>

                        <!-- Pending: define expressions for retrieve data from database -->
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap 
                                dark:text-white">1</td>
                                <td class="px-6 py-4">Mix Oyster Mushroom</td>
                                <td class="px-6 py-4">3</td>
                                <td class="px-6 py-4">09-06-2022</td>
                                <td class="px-6 py-4">$15.00</td>
                            </tr>
                            <tr>
                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">2</td>
                                <td class="px-6 py-4">Reishi extract</td>
                                <td class="px-6 py-4">5</td>
                                <td class="px-6 py-4">10-06-2022</td>
                                <td class="px-6 py-4">$25.00</td>
                            </tr>
                            <tr  class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">3</td>
                                <td class="px-6 py-4">Lion's Mane extract</td>
                                <td class="px-6 py-4">5</td>
                                <td class="px-6 py-4">11-06-2022</td>
                                <td class="px-6 py-4">$50.00</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                <!-- <div class="bg-gray-200 w-96 h-96 rounded-xl">    
                    <div class="flex flex-row underline-offset-1 ">
                        <div class="block mb-2 text-lg font-bold text-gray-900 dark:text-white p-3 first-letter:"> ID</div>
                        <div class="block mb-2 text-lg font-bold text-gray-900 dark:text-white p-3 first-letter:"> Product</div>
                        <div class="block mb-2 text-lg font-bold text-gray-900 dark:text-white p-3 first-letter:"> Qty</div>
                        <div class="block mb-2 text-lg font-bold text-gray-900 dark:text-white p-3 first-letter:"> Date</div>
                        <div class="block mb-2 text-lg font-bold text-gray-900 dark:text-white p-3 first-letter:"> Amount</div>
                    </div>
                </div> -->
            </div>
        </div>
</body>
</html>