    <div>
        {{#each employees as |employee|}}
        <div>
            {{!-- Link a placeholder profile picture --}}
            <img src="" alt="profile-picture">
        </div>
        <div>{{name}}</div>
        <div>{{email}}</div>
        {{/each}}
    </div>