<body class="bg-cover bg-center" style="background-image: url(/images/Setas.png)">
    <img class="flex h-32 mx-auto mt-7" src="../public/images/Logo Habitual Corto.png"> 
     <div class="mt-12 mx-80 border rounded-md border-gray-400 "> 
        <h2 class="px-4 py-3 text-xl font-extralight text-center bg-gradient-to-r from-rose-400 to-orange-300 rounded-t-md text-white">SIGN IN </h2>
        <form id="loginForm" class="px-5 py-2 bg-white">
            <div class="flex flex-col text-xl font-medium whitespace-nowrap p-5">
                <label for="email-login">E M A I L :</label>
                <input class="text-base font-light  border-b border-neutral-800 w-full text-gray-400 mr-3 p-1 leading-tight focus:outline-none" type="text" id="email-login">
            </div>
            <div class="flex flex-col text-xl font-medium whitespace-nowrap p-5">
                <label for="password-login">P A S S W O R D :</label>
                <input class="appearance-none bg-transparent border-b border-neutral-800 w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="password" id="password-login" />
            </div>
            <div class="form-group text-center  py-2 flex flex-col">
                <button class="text-xl font-light bg-amber-400 text-center rounded-md bg-gradient-to-r  from-rose-400 to-orange-300 text-white p-4" type="submit" id="login">LOG IN</button>
            </div>
        </form>
    </div>
<script src="/js/login.js"></script>
</body>