<div class="mt-12 mx-80 border rounded-md border-gray-400 "> 
    <h2 class="px-4 py-2 text-center bg-amber-400 rounded-t-md">Sign In</h2>
    <form id="loginForm" class="px-5 py-2">
      <div class="flex flex-col">
        <label for="email-login">Email:</label>
        <input class="form-input border  border-slate-400 rounded-md" type="text" id="username-login" />
      </div>
      <div class="flex flex-col">s
        <label for="password-login">Password:</label>
        <input class="form-input border border-slate-400 rounded-md" type="password" id="password-login" />
      </div>
      <div class="form-group text-center py-2 flex flex-col">
        <button class=" bg-amber-400 text-center rounded-md" type="submit">login</button>
      </div>
    </form>
  
</div>
<script src="/js/login.js"></script>