<div>
  <link href="../public/CSS/style.css" rel="stylesheet" />
  <div class="login-container">
    <div class="login-login">
      <img
        src="/rectanglesignin36-f2e-600h.png"
        alt="rectanglesignin36"
        class="login-rectanglesignin"
      />
      <img src="/vector316-xl0d.svg" alt="Vector316" class="login-vector" />
      <img
        src="/signinbutton318-g0ub-200h.png"
        alt="signinbutton318"
        class="login-signinbutton"
      />
      <span class="login-login1"><span>LOGIN</span></span>
      <span class="login-signin"><span>SIGN IN</span></span>
      <span class="login-keepme"><span>Keep me signed in</span></span>
      <span class="login-email"><span>EMAIL</span></span>
      <span class="login-password"><span>PASSWORD</span></span>
      <img src alt="Passwordbox324" class="login-passwordbox" />
      <img src alt="Emailbox323" class="login-emailbox" />
    </div>
  </div>
</div>