<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/output.css">
    <title>Nav Bar</title>
</head>
<body>

    <aside class="flex flex-row bg-black">
        <div> 
            <div class= "text-3xl font-bold justify-center text-white p-6"> Sales Tracker </div>
        </div>
        <div class="flex flex-col p-7"> 
            <a href="navbarTest.html" class="text-lg flex flex-row font-sans justify-start text-white">
                <img src="../public/assets/icons/home.svg" class="h-6 mr-3" alt="Home Logo" />
                <span>Dashboard </span>
            </a>
            <a href=".html" class="text-lg flex flex-row font-sans justify-start text-white">
                <img src="../public/assets/icons/contact.svg" class="h-6 mr-3" alt="Employee Logo" />
                <span>Employee </span>
            </a>
            <a href="SalesTest.html" class="text-lg flex flex-row font-sans justify-start text-white ">
                <img src="../public/assets/icons/boton-circular-plus.png" class=" h-6 mr-3" alt="Home Logo" />
                <span>Sales History </span>
            </a>
            <a href="navbarTest.html" class="text-lg flex flex-row font-sans justify-start text-white">
                <img src="../public/assets/icons/home.svg" class=" h-6 mr-3" alt="Home Logo" />
                <span>Products </span>
            </a>
        </div>
        <div> 
            <div class="text-lg font-bold flex justify-end text-white p-6"> Log Out </div>
        </div>
    </aside>
</body>
</html>