<div class="p-6">
    <div class="text-3xl font-bold text-black">Products</div> 
    <div class="grid grid-cols-4 gap-4 justify-items-center items-end">
        {{#each products as |product|}}
        <div>
            <img src={{url}}> 
            <div class="px-6 font-bold text-gray-900 whitespace-nowrap dark:text-black">{{product_name}}</div>
            <div class="px-6 text-xs font-medium whitespace-nowrap dark:text-black">${{price}} / 1kg</div>
        </div>
        {{/each}}
    </div>
</div>
