    <div class="p-6">
        <div class="text-3xl font-bold text-black"> Products </div> 
            {{#each products as |product|}}
        <div class="grid grid-cols-4 gap-4">
            <div>
                <img src={{url}}> 
                <div class="px-6 font-bold text-gray-900 whitespace-nowrap 
                dark:text-white">{{product_name}}</div>
                <div class="px-6 text-xs font-medium whitespace-nowrap 
                dark:text-white">${{price}} / 1kg</div>
            </div>
            </div>
            {{/each}}