    <div class="p-6">
        <div class="text-3xl font-bold text-black "> Sales History </div>     
        <div class="relative overflow-x-auto pt-3 shadow-md sm:rounded-lg">
            <table class="text-xs text-gray-700 uppercase bg-gray-50 dark:ng-gray-700 dark:text-gray-400">
                <thead >
                    <tr>
                        <th scope="col" class="px-6 py-3">ID</th>
                        <th scope="col" class="px-6 py-3">Product</th>
                        <th scope="col" class="px-6 py-3">Qty</th>
                        <th scope="col" class="px-6 py-3">Date</th>
                        <th scope="col" class="px-6 py-3">Amount</th>
                        <th scope="col" class="px-6 py-3">Client</th>
                    </tr>
                </thead>
                <tbody>
                <!-- Pending: define expressions for retrieve data from database -->
                    <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap 
                        dark:text-white">1</td>
                        <td class="px-6 py-4">Mix Oyster Mushroom</td>
                        <td class="px-6 py-4">3</td>
                        <td class="px-6 py-4">09-06-2022</td>
                        <td class="px-6 py-4">$15.00</td>
                        <td class="px-6 py-4">Restaurante Jamaica</td>
                    </tr>
                    <tr>
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">2</td>
                        <td class="px-6 py-4">Reishi extract</td>
                        <td class="px-6 py-4">5</td>
                        <td class="px-6 py-4">10-06-2022</td>
                        <td class="px-6 py-4">$25.00</td>
                        <td class="px-6 py-4">Yuleth Aceves</td>
                    </tr>
                    <tr  class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">3</td>
                        <td class="px-6 py-4">Lion's Mane extract</td>
                        <td class="px-6 py-4">5</td>
                        <td class="px-6 py-4">11-06-2022</td>
                        <td class="px-6 py-4">$50.00</td>
                        <td class="px-6 py-4">Alejandro Salazar</td>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>
    <div class="flex flex-row">
        <div class="p-6">
            <div class="text-3xl font-bold text-black"> Best Month </div>  
            <div class="text-lg font-bold pt-8 text-center  text-black tp-2"> May 2023 </div>  
        </div>
        <div>
            <div class="text-3xl font-bold text-black p-7"> Comission History </div>  
            <table class="text-xs text-gray-700 uppercase bg-gray-50 dark:ng-gray-700 dark:text-gray-400">
                <thead> 
                        <tr>
                            <th scope="col" class="px-6 py-3">Amount</th>
                            <th scope="col" class="px-6 py-3">Month</th>
                            </th> 
                        </tr>
                </thead>
                <tbody> 
                    <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap 
                            dark:text-white">$200.00</td>
                            <td class="px-6 py-4">June</td>
                    </tr>
                     <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap 
                            dark:text-white">$650.00</td>
                            <td class="px-6 py-4">May</td>
                    </tr>
                     <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap 
                            dark:text-white">$200.00</td>
                            <td class="px-6 py-4">April</td>
                    </tr>
                </tbody> 
            </table>
        </div>
    </div>
