.login-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .login-login {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: aqua;
  }

  .login-rectanglesignin {
    top: 248px;
    left: 0px;
    right: 0px;
    width: 487px;
    height: 553px;
    margin: auto;
    position: absolute;
  }
  
  .login-vector {
    top: 248px;
    left: 0px;
    right: 0px;
    width: 487px;
    height: 86px;
    margin: auto;
    position: absolute;
  }
  .login-signinbutton {
    top: 645px;
    left: 0px;
    right: 0px;
    width: 432px;
    height: 92px;
    margin: auto;
    position: absolute;
  }
  .login-login1 {
    top: 679px;
    left: 0px;
    color: rgba(255, 255, 255, 1);
    right: 0px;
    width: 432px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-signin {
    top: 272px;
    left: 0px;
    color: rgba(255, 255, 255, 1);
    right: 0px;
    width: 487px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 35px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-keepme {
    top: 597px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    right: 0px;
    width: 178px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-email {
    top: 376px;
    left: 462px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 28px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-password {
    top: 495px;
    left: 462px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 28px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-passwordbox {
    top: 528px;
    left: 464px;
    width: 309px;
    height: 43px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
  }
  .login-emailbox {
    top: 413px;
    left: 463px;
    width: 309px;
    height: 43px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
  }
  